.flex {
    display: flex;
}

.column{
    flex-direction: column;

}

.justify-end:not(:first-child){
    justify-content: flex-end;
}

.self-justify-start{
    justify-self: flex-start;
}

.main-side-bar{
    width: 50%;
    background-color: rgb(155, 137, 137);
}
.weather{
    width: 100%;
    height: 50%;
    background-color: #aaa;
}

.location-table{
    background-color: #ddd;
    width: 100%;
    height: 50%;
    margin-block-start: 0;
    margin-block-end: 0;

}